# Python (Archivos temporales y de compilación)
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales (MUY IMPORTANTE)
venv/
env/
.venv/
bin/
include/
lib/

# Visual Studio Code (Configuraciones locales)
.vscode/

# Bases de datos y secretos (Pensando en tu futura integración con Supabase)
*.log
.env
node_modules
